クエリパラメータも受けるようにする

今のままでは[仕様違反](https://tools.ietf.org/html/rfc6749#section-3.1)

含んでも良いでは

`The endpoint URI MAY include an "application/x-www-form-urlencoded" formatted (per Appendix B) query component ([RFC3986] Section 3.4),` なので

GETがMUSTなのでやっぱりできるようにしないと死

たし蟹